.lbl {
  display: inline-block;
  width: 50px;
  height: 30px;
  background: #979797;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.lbl::after {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  background: #eee;
  border-radius: 100px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: 0.2s;
}

#switch:checked + .lbl::after {
  left: 25px;
}

#switch:checked + .lbl {
  background: rgb(51, 100, 233);
}

/* 
#switch {
  display: none; 
}  */


#nombre {
  padding-left: 10px;
  padding-right: 10px;
}

#identificacion{
  padding-left: 10px;
  padding-right: 10px;
}

#apellido{
  padding-left: 10px;
  padding-right: 10px;
}

#telefono{
  padding-left: 10px;
  padding-right: 10px;
}

#email{
  padding-left: 10px;
  padding-right: 10px;
}

#rol{
  padding-left: 10px;
  padding-right: 10px;
}

#estado{
  padding-left: 10px;
  padding-right: 10px;
}

.boton_personalizado{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
  margin: 20px;
}

#btnGuardar{
  padding-left: 1.35rem;
  padding-right: 1.35rem;
}

.container-formulario{
  
  max-width: 35rem;
  background-color: rgb(197, 202, 202);
  margin: 0% auto;
  border: 2px solid;
  
}

.formulario{
  text-align: left;
  margin-left: 2rem;
  padding:30px;

}

h2{
text-align: center;
}
#dato{
  margin-left: 2rem;
}

input{
  
  align-items:flex-end;
}

.inputForm{
  padding: 3rem;
  padding-left:5.35rem;

}

.boton_personalizado2{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
  
  
}

.botones2{
  text-align: center;
  padding-left: 15px;
  
}

